/* Контейнер */
div #generalInformationForm {
    background: white;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#generalInformationForm p{
    color: #333;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 2rem;
}

/* Поля ввода */
#generalInformationForm input,
#generalInformationFormtextarea {
    width: 100%;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    transition: all 0.3s ease;
    box-sizing: border-box;
    font-family: inherit;
}

#generalInformationForm input:focus,
#generalInformationForm textarea:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(72, 92, 139, 0.5);;
}

#generalInformationForm button{
    background: black;
    color: white;
    padding: 0.75rem 1.5em;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 2rem;
}

#generalInformationForm button:hover {
    outline: none;
    box-shadow: 0 6px 20px rgba(76, 82, 78, 0.4);
    background: #218838;
}

#generalInformationForm button:active {
    outline: none;
    box-shadow: 0 2px 10px rgba(76, 82, 78, 0.4);
}

#generalInformationForm button:focus {
    outline: none;
}