/* Контейнер */
div #skillForm {
    margin: 2rem 0;
    background: white;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#skillForm p{
    color: #333;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 2rem;
}

/* Поля ввода */
#skillForm input,
#skillForm textarea {
    width: 100%;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    transition: all 0.3s ease;
    box-sizing: border-box;
    font-family: inherit;
}

#skillForm input:focus,
#skillForm textarea:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(72, 92, 139, 0.5);;
}