#root {
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.content {
  display: flex;
  gap: 7rem;
  align-items: flex-start;
  min-height: 100vh;
  padding: 1rem;
}

.forms {
  flex: 0 0 500px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sheet {
  position: sticky;
  top: 0; 
  flex: 1;
}

#resume {
    min-width: 450px;
    aspect-ratio: 21/29.7;
    background-color: white;
    color: black;
}

div .form {
    margin: 2rem 0;
    background: white;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form p{
    color: #333;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 2rem;
}

.form input,
.form textarea {
    width: 100%;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    transition: all 0.3s ease;
    box-sizing: border-box;
    font-family: inherit;
}

.form input:focus,
.form textarea:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(72, 92, 139, 0.5);;
}

@media (max-width: 1150px) {
  .content {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  
  .forms {
    flex: none;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
}